<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="row">
            <div class="col-xs-12 teaser">
                <h1 class="text-center">A Tilos Rádió legnagyobb éves adomány gyűjtő fesztiválja.</h1>
                <p class="text-center"><span>Június 9 és 17 között a Dürer Kertben:</span><br>
    ingyenes koncertek, tombola, bogrács és egyéb programok. Gyere el és/vagy támogass minket, hogy folytathassuk a rádiózást.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 program-info">
                <h2 class="text-center">Részletes program</h2>
                <div class="program-info__inner">
                    <p class="text-center">Tilos-adománypult, rengeteg program immár <strong>8 helyszínen</strong>. Koncertek a kerti színpadon valamint a három koncertteremben, DJ-k, partik, szabad tűzön, bográcsokban készült ételek, tematikus napok (családi-gyereknap, bringás-nap, reggae nap, jazz nap, eklektikus nap, ütőképes nap, világzenei és roma nap), Tilos - Caravan stúdió, TOMBOLA!</p>
                    <div class="program-info__fade"></div>
                </div>
                <a class="program-info__button program-info__button--close hidden">Bezár</a>
                <a class="program-info__button program-info__button--open">Tovább</a>
            </div>

        </div>

    </div>
</body>
</html>
